<a href="https://colab.research.google.com/github/Al3xibesp/DataVis_Joibsh/blob/main/A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tablas dinamicas

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
import pandas as pd
import numpy as np

path1 = '/content/drive/MyDrive/Visualización de Datos/datasets/antropometria-dataset-2.csv'
path2 = '/content/drive/MyDrive/Visualización de Datos/datasets/adult.csv'

df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df1.head()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [37]:
df2.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Generar Tabla Dinamica que muestre el peso promedio de personas por estado

In [38]:
pd.pivot_table(df1,
               values = 'peso',
               index = 'desc_ent',
               aggfunc = 'mean')

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

In [45]:
# Agregue columnas que indiquen el peso promedio por estado
EstadoSexo = pd.pivot_table(df1,
               values = 'peso',
               index = 'desc_ent',
               columns = 'sexo',
               aggfunc = ['mean', 'median'])
EstadoSexo

                                      mean              median
sexo                                     1          2        1        2
desc_ent
AGUASCALIENTES                   69.985381  63.254292  69.9500  63.7000
BAJA CALIFORNIA                  71.391818  65.893667  70.6500  64.2000
BAJA CALIFORNIA SUR              75.561015  68.168959  76.6500  68.5500
CAMPECHE                         68.622637  62.920493  67.3500  62.3750
CHIAPAS                          58.365222  57.096111  59.2000  56.0250
CHIHUAHUA                        68.892642  64.815295  69.3000  64.6250
COAHUILA DE ZARAGOZA             68.873094  67.467348  68.3000  67.3000
COLIMA                           70.998878  66.978393  71.7000  66.0000
DISTRITO FEDERAL                 69.460661  61.654128  69.0000  61.4500
DURANGO                          68.846451  64.400031  70.3500  62.5000
GUANAJUATO                       65.008000  63.100995  65.0625  60.3250
GUERRERO                         62.611437  58.899850  60.5000  57.2000
HIDALGO                          61.747958  58.972554  63.3000  57.9000
JALISCO                          67.076482  66.418111  65.5875  63.3500
MEXICO                           63.140314  58.887882  62.4500  56.9500
MICHOACAN DE OCAMPO              66.374612  63.784311  67.6250  63.4000
MORELOS                          65.741943  62.195391  65.2000  61.4500
NAYARIT                          68.822143  64.890564  69.0500  63.7000
NUEVO LEON                       70.168106  64.823014  69.4000  65.1000
OAXACA                           60.810332  57.450557  59.5500  56.8000
PUEBLA                           61.866875  58.820175  61.8750  59.5500
QUERETARO                        66.751233  60.860793  65.2750  59.4500
QUINTANA ROO                     65.149528  63.538000  65.9250  60.8500
SAN LUIS POTOSI                  62.614907  58.979163  62.2000  57.4500
SINALOA                          71.122911  65.565234  71.1000  64.3000
SONORA                           70.880406  67.024857  72.3000  66.6500
TABASCO                          69.255801  64.190187  69.7500  62.6000
TAMAULIPAS                       72.060601  64.866851  72.7500  63.3500
TLAXCALA                         64.784437  60.201164  64.2750  59.8750
VERACRUZ DE IGNACIO DE LA LLAVE  65.324094  60.565646  64.3000  59.4725
YUCATAN                          65.717541  60.537515  66.0000  59.5750
ZACATECAS                        66.096483  62.757788  65.3000  61.6250

Podemos ver claramente como los hombres tienen un peso mayor que el de las muejeres en todos los estados

In [40]:
# Peso median y avg de sex 1 de Yucatan
EstadoSexo.loc['YUCATAN', [('mean', 1), ('median', 1)]]

        sexo
mean    1       65.717541
median  1       66.000000
Name: YUCATAN, dtype: float64

In [41]:
max_peso_sexo2_por_estado = df1[df1['sexo'] == 2].groupby('desc_ent')['peso'].max()
display(max_peso_sexo2_por_estado)

desc_ent
AGUASCALIENTES                     161.450
BAJA CALIFORNIA                    150.000
BAJA CALIFORNIA SUR                136.800
CAMPECHE                           118.525
CHIAPAS                            144.250
CHIHUAHUA                          119.300
COAHUILA DE ZARAGOZA               127.550
COLIMA                             143.300
DISTRITO FEDERAL                   125.500
DURANGO                            129.500
GUANAJUATO                         147.050
GUERRERO                           126.300
HIDALGO                            118.300
JALISCO                            154.100
MEXICO                             112.000
MICHOACAN DE OCAMPO                131.150
MORELOS                            168.600
NAYARIT                            121.100
NUEVO LEON                         122.850
OAXACA                             107.800
PUEBLA                             101.400
QUERETARO                          115.900
QUINTANA ROO                       165.000
SAN LUIS POTOSI                     98.700
SINALOA                            126.600
SONORA                             131.200
TABASCO                            151.550
TAMAULIPAS                         134.550
TLAXCALA                           107.150
VERACRUZ DE IGNACIO DE LA LLAVE    127.400
YUCATAN                            104.800
ZACATECAS                          111.000
Name: peso, dtype: float64

In [82]:


# Valor maximo de los promedios en la tabla dinamica EstadoSexo
max_of_means = EstadoSexo['mean'].max().max()
print(max_of_means)

75.5610153256705

In [81]:
max_of_means_sexo2 = EstadoSexo['mean'][2].max()
print(max_of_means_sexo2)

68.1689591078067

Nueva Tabla dinamica adult csv

In [46]:
df2

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
32561,52,Self-emp-inc,287927,HS-grad,9,test_category_male,Exec-managerial,Wife,White,Male,15024,0,40,United-States,>50K
32562,52,Self-emp-inc,287927,HS-grad,9,test_category_male,Exec-managerial,Wife,White,Male,15024,0,40,United-States,>50K
32563,52,Self-emp-inc,287927,HS-grad,9,test_category_female,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [54]:
#What is the average hours-per-week of Divorced with HS-grad
HoursMarital = pd.pivot_table(df2,
               values = 'hours-per-week',
               index = 'marital-status',
               columns = 'education',
               aggfunc = 'mean')
HoursMarital

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
marital-status,,,,,,,,,,,,,,,,
Divorced,40.808333,40.023077,39.692308,32.800000,38.900000,40.657534,37.281250,40.719212,41.085470,43.053114,50.363636,40.668320,43.789700,72.000000,45.600000,40.898971
Married-AF-spouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.500000,44.000000,45.000000,NaN,43.000000,NaN,NaN,NaN,40.000000
Married-civ-spouse,41.664756,40.514124,42.561538,39.802469,40.209302,41.490251,40.765217,42.926087,42.923077,44.165462,47.045455,42.635501,44.658026,40.950000,47.662621,43.493612
Married-spouse-absent,41.866667,39.526316,42.625000,39.916667,35.750000,37.071429,39.555556,36.000000,38.076923,41.735294,46.714286,39.661157,47.000000,40.000000,43.333333,37.013158
Never-married,31.168975,28.047782,30.702586,39.307692,38.595506,37.991150,35.477419,37.670623,40.809392,40.450696,47.616438,38.691162,42.433168,32.181818,48.741935,33.960109
Separated,40.489796,38.416667,39.214286,38.888889,37.444444,34.391304,38.181818,41.866667,38.928571,42.500000,32.714286,38.189655,43.240000,40.000000,42.875000,40.150000
Widowed,32.512821,33.868421,39.900000,30.176471,31.071429,30.703125,29.478261,33.913043,33.439024,35.414634,35.857143,32.693237,36.878049,23.333333,33.200000,32.645349
test_category_female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,NaN
test_category_male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,NaN

In [79]:

# Create the pivot table for Male individuals
twMedianaAge = pd.pivot_table(df2,
                              values = 'age',
                              index = ['education','marital-status'],
                              columns = 'sex',
                              aggfunc = 'median')
twMedianaAge

#Only for 12th grade
twMedianaAge.loc['12th']

sex                    Female  Male
marital-status
Divorced                 41.0  41.0
Married-civ-spouse       34.0  41.5
Married-spouse-absent    25.5  46.0
Never-married            18.0  20.5
Separated                35.0  36.0
Widowed                  56.0  65.0